Web References/OPCHDA/OPCHDAWcfService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OPCHDAWCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OPCHDAWCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTgs">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tgs" nillable="true" type="tns:Tgs" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTgs" nillable="true" type="tns:ArrayOfTgs" />
  <xs:complexType name="Tgs">
    <xs:sequence>
      <xs:element minOccurs="0" name="TgName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fullpath" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tgs" nillable="true" type="tns:Tgs" />
</xs:schema>